/*------------------------------------*/
    /* #Type Rythym */
/*------------------------------------*/

/* This is trying to have a nice starter */

/* html {
  font-family: ;
} */

/* singlines */

:root {
  /* 🏔 Mountain Names as Font Sizing Defaults */
  /* (Highest by Continent) */
  --everest: 3rem; /* 29,035ft Asia */
  --everest-lh: 3.75rem; /* 29,035ft Asia */

  --aconcagua:2.5rem; /* 22,840ft South America */
  --denali:2rem; /* 20,320ft North America */
  --kilimanjaro: 1.5rem; /* 19,340ft Africa */
  --elbrus:1.25rem; /* 18,510ft Europe / Russia */
  --vinson_massif: 1rem; /* 16,050ft Antartica */
  --kosciuszko: 0.75rem; /* 7,310ft Australia */
}

body {
  font-size: 16px;
  line-height: 1.25rem; /* 20px */
  font-family: sans-serif;
}

p {
  margin-bottom: 0.625rem; /* 10px */
  /* single line 30px */
  /* two lines 50px */
  /* multi lines + 20px each */
}

h1 {
  margin-top: 0; /* browser reset */
  font-size: var(--everest); /* 48px */
  line-height: var(--everest-lh); /* 60px */
  margin-bottom: 2.5rem; /* 40px */
  /* single line 100px */
  /* two lines 160px */
  /* multi lines + 60px each */
}

h2 {
  font-size: var(--aconcagua); /* 40px */
  line-height: 3rem; /* 48px */
  margin-bottom: 2rem; /* 32px */
  /* single line 80px */
  /* two lines 128px🚨 */
  /* multi lines + 48px each🚨 */

  /* what if i just do a slightly different base for two lines? as an extra class? */
  /* 96 + x? */
}

h3 {
  font-size: var(--denali); /* 32px */
  line-height: 2.5rem; /* 40px */
  margin-bottom: 1.875rem; /* 30px */
  /* single line 70px */
  /* two lines 110px */
  /* multi lines + 40px each */
}

h4 {
  font-size: var(--kilimanjaro); /* 24px */
  line-height: 2rem; /* 32px */
  margin-bottom: 1.75rem; /* 28px */
  /* single line 60px */
  /* two lines 92px🚨 */
  /* multi lines + 32px🚨 each */
}

h5 {
  font-size: var(--elbrus); /* 20px */
  line-height: 1.875rem; /* 30px */
  margin-bottom: 0.625rem; /* 10px */
  /* single line 40px */
  /* two lines 70px */
  /* multi lines + 30px each */
}

h6 {
  font-size: var(--vinson_massif); /* 16px */
  line-height: 1.25rem; /* 20px this becomes the vertical rythym */
  margin-bottom: 0.625rem; /* 10px skips some of the lines */
  /* single line 30px */
  /* two lines 50px */
  /* multi lines + 20px each */
}

/* start the multi line problem here as itll be worst */
small {
  font-size: var(--kosciuszko); /* 12px */
  line-height: 1rem; /* 16px */
  margin-bottom: 0.875rem; /* 14px */
  /* single line 30px */
  /* two lines 46px🚨 */
  /* multi lines + 16px🚨 each */

  /* options i want 20px if its smaller it can be 10 but thats unrealistic */
  /* 4 is pretty small on a single line that doesnt work it'd have to go to 30 */
  /* two is already fine */
  /* anymore gets super complicated to get it right */
}

.two-small-lines {
  @extend small;
  margin-bottom: 0.5rem; /* 8px */
  /* two lines 40px */
}

.multiple-small-lines {
  @extend small;
  
}

/* hr {} */

/* button {} */